@import "../section/_hero-banner.css";
@import "../components/_share-buttons.css";
@import "../section/_featured-post.css";
@import "../section/_recent-travels.css";
@import "../section/_travel-gallery.css";
@import "../section/_sub-form.css";

.main-home-page section:nth-child(even) {
    background: aliceblue;
}

header.home-page {
    position: absolute;
    width: 100%;
    background-color: transparent;
}